<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create new Post</title>
  </head>
  <body>
    <h1> Create a new Post</h1>
    <form method="POST" action="/posts" >
      <label for="Name">Name</lable>
      <input type="text" name="name">
      <!-- name did = params[name] -->
      <label for="Content">Content</label>
      <input type="text" name="content">
      <!-- name did = params[content] -->
      <!-- why this way instead of that way? how is this working? how is this different from nesting post[name]? -->
      <input type="submit" value="submit">
    </form>
  </body>
</html>
